
*.mha
Deep Learning/BRAIN MRI/models/
Deep Learning/BRAIN MRI/processed/standardData.npy
*.png
*.h5
*.jp2
Deep Learning/ClassSat/metadata.csv
Python Projects/ProaAnaly/analysis.ipynb
Python Projects/ProaAnaly/interviewPrep copy.docx
Python Projects/ProaAnaly/interviewPrep.docx
Python Projects/ProaAnaly/Presentation.pptx
Python Projects/ProaAnaly/interview data/forecast_update_time.csv
Python Projects/ProaAnaly/interview data/forecast1.csv
Python Projects/ProaAnaly/interview data/forecast2.csv
Python Projects/ProaAnaly/interview data/measured_data.csv
Python Projects/Crypto/SimpleStorageContract.sol
Python Projects/Crypto/main.py
Python Projects/Crypto/deploy_smart_contract_python.py
Python Projects/Crypto/compiled_code.json
